body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden; 
    align-items: left;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  .fondo-imagen {
    background-image: url('fondonacion.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 99vh;
}
.tra{
    color: #b0b0b0e7; 
    font-size: 24px;
}
.titulo-fondo {
    font-size: 65px;
    font-weight: bold;
    text-align: left;
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.73); 
    width: 80%; 
    position: absolute;
    bottom: 30px; 
    left: 17%; 
}

main {
    padding: 30px;
    padding-top: 120px; 
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.78); 
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(39, 38, 38, 0.3);
    padding-left: 10px;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a h1 {
    font-size: 45px;
    text-align: center;
}
.linea {
    width: 100%;
    margin: 40px auto;
    border: none;
    border-top: 1px solid #505050;
}
.imagen-ajustada {
    max-width: 100%;
    height: auto;
}
.letra {
    font-family: Georgia, "serif";
    font-size: 1.1875rem;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}
.contenido {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    text-align: justify;
    margin-top: -40px; 
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: Georgia, "serif";
    padding: 20px;
    background-color: #fff;
    color: #333;
    margin-top: 20px;
}

p {
    font-size: 28px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
img{
    width: 900px;
}
.seccion-contacto {
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
}



    .seccion-contacto label {
        font-weight: bold;
    }

    .seccion-contacto input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .seccion-contacto button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }
